# Stores private info
**/.env
**/.flaskenv
plated-mantra-385005-600b3ef4283f.json

# Alex's IDE files
.idea/

# This file is created automatically by Mac
.DS_Store

# This file created by python when it runs, should not be committed
**/__pycache__